/* GENERAL */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4{
    font-weight: bold;
}

h4{
    font-size: 1.9em;
    }

h5{
    margin: 5px 0;
}

body{ 
    padding-top: 60px; 
}

/* UTILITIES */
.mt-1-4em{
    margin-top: 1.4em;
}

.relative{
    position: relative;
}

.line-star hr{
    max-width: 15em;
    border-width: 2px;
    border-color: inherit;
}

.line-star hr.small-hr{
    max-width: 9em;
}

.line-star .fa-star{
    background-color: #1abc9c;
    font-size: 1.5em;
    padding: 0 0.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-star .fa-star.star-black{
    background-color: white;
}

.padding-section{
    padding-top: 3em;
    padding-bottom: 3em;
}

.btn-adapted{
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

.btn-adapted:hover {
    background-color: white;
    border-color: black;
    transform: scale(1.1);
}

/* COLOR */
.bg-darkgrey{
    background-color: #2c3e50;
    color: white;
}
.bg-green{
    background-color: #1abc9c;
    color: white;
}

/* HEADER */
header .nav-custom{
    margin-bottom: 0;
    border: transparent;
    background-color: #2c3e50;
    padding: 8px 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand{
    color: rgb(251, 251, 251);
    transition: color 0.2s ,transform 0.4s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #1abc9c;
}

.navbar-default .navbar-brand:hover{
    color: white;
    transform:scale(1.1)
}

.navbar-default .navbar-brand:focus{
    color: white;
}

.navbar-default .navbar-brand{
    font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a{
    font-size: 1.2em;
}

/* MAIN */

/* -HERO SECTION*/
main .hero h1{
    font-size: 2.5em;
}

main .hero img{
    max-width: 200px;
    margin: 0 auto;
}

main .hero .description-hero{
    font-size: 12px;
}

main .hero .content-hero ul{
    padding:0;
}

main .hero .content-hero ul li{ 
    display: inline-block;
    font-size: 16px;
    list-style: none;
}

main .hero .content-hero a{ 
    color: white;
    transition: color 0.2s;
}

main .hero a:hover{
    text-decoration: none;
    color: #2c3e50;
}

/* -PORTFOLIO SECTION */
main .portfolio .line-star{
    margin-bottom: 1.4em;
}

main .portfolio img{
    border-radius: 8px;
}

main .portfolio .row > div > div{
    margin-bottom: 20px;
}

main .portfolio .row div:last-child img{
    margin-bottom: 0;
}

main .portfolio .layover-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: black;
    opacity: 0.25;
}

main .portfolio .row i{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3.5em;
    transform: translate(-50%, -50%);
    Color: rgb(255, 255, 255);
}

main .portfolio .relative{
    cursor: pointer;
}

main .portfolio .relative:hover .layover-img,
main .portfolio .relative:hover i{
    display:block;
}

/* -ABOUT SECTION */
main .btn > i{
    margin-right: 10px;
}
/* -CONTACT ME SECTION */
.contact-me input,
.contact-me textarea{
    min-height: 45px;
    box-shadow: none;
    border-radius:0;
    border: none;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
    width: 100%;
    font-size: 1em;
}

.contact-me textarea{
    height: 180px;
}

.contact-me ::placeholder{
    color: black;
}

.contact-me button[type="submit"]{
    margin-top: 5px;
    border-color: transparent;
}

.contact-me button[type="submit"]:hover{
    border-color:black;
    box-shadow: none;
}

.form-control:focus{
    border-bottom: 2px solid #66afe9;
    box-shadow: none;
}

.contact-me form textarea:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #66afe9;
    box-shadow: none;
}

/* FOOTER */
footer{
    background-color: #3a546d;
    color: white;
}

footer .around-the-web .social{
    margin: auto;
}

footer .around-the-web ul{
    padding: 0;
}

footer .around-the-web li{
    display: inline-block;
    margin-top: 0.3em;
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    font-size: 1em;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    transition: transform 0.3s
}

footer .around-the-web li:hover{
    transform: rotate3d(0, 0, 8, 360deg);
}

footer .around-the-web li i{
    color: #fff;
}

footer .about-free-lancer a{
    color: #1abc9c;
}

/* -COPYRIGHT */
footer .copyright{
    background-color:#2c3e50;
    font-size: 0.8em;
}

/* TABLET RESPONSIVE >768PX SM*/
@media screen and (min-width:768px){
    /* GENERAL */
    *{
        font-size: 20px;
    }

    /* UTILITIES */
    .line-star hr.small-hr{
        max-width: 11em;
    }

    /* MAIN */
    main .btn-adapted{
        font-size: 1em;
    }
    /* HEADER */
    .navbar-default .navbar-nav > li > a{
        font-size: 0.8em;
    }

    /* FOOTER */
    footer h5{
        font-size: 1.2em;
    }

    footer .mt-1-4em{
        margin-top:0;
    }
}
/* DESKTOP RESPONSIVE >992PX MD */
@media screen and (min-width:992px){
      /* GENERAL */
    *{
        font-size: 22px;
    }

    /* UTILITIES */
    .line-star hr.small-hr{
        max-width: 15em;
    }
}